.contactTitle {
    font-size: 2.6rem;
    margin-top: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-bottom: 10px;
}
.form {
    margin-bottom: 5rem;
}
.form label {
    font-size: 2rem;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 15px 0 0;
}
.form button {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.form button .spinner {
    margin-right: 1rem;
}
.form button.green,
.form button.green:disabled {
    background-color: green;
}
.form button.red,
.form button.red:disabled {
    background-color: red;
}
.form .error {
    color: red;
}
.form .required:after {
    color: red;
    content: ' *';
}
.footer {
    padding: 10px 0;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.contact {
    text-decoration: none;
    background-color: transparent;
    color: #999;
    border-bottom: none;
    font-size: 1.4rem;
}
.contact:hover {
    text-decoration: none;
    background-color: transparent;
    color: #eee;
    outline: 0;
    transition: all 0.4s;
    border-bottom: none;
}
