.categoryBlock {
    height: 30rem;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.categoryBlock .title {
    background: rgba(50, 50, 50, 0.5);
    width: 100%;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    font-weight: 700;
    line-height: 1.1;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.categoryBlock:hover .title {
    text-decoration: none;
    outline: 0;
    color: #333337;
    transition: all 0.4s;
    background: rgba(250, 250, 250, 0.5);
}
@media (min-width: 768px) {
    .categoryBlock {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .categoryBlock {
        width: 48%;
    }
}