.menu {
    background-color: #333;
    overflow: hidden;
    z-index: 10;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: #000 2px 2px 10px;
    padding-top: 5rem;
    transition: opacity linear 750ms, width linear 750ms;
    width: 0;
    opacity: 0;
    padding-right: 0;
    position: fixed;
}
.menuOpen {
    opacity: 1;
    width: 100%;
}
@media (min-width: 768px) {
    .menuOpen {
        width: 40%;
    }
}
@media (min-width: 992px) {
    .menuOpen {
        width: 30%;
    }
}
@media (min-width: 1200px) {
    .menuOpen {
        width: 25%;
    }
}

.icon {
    padding: 0 20px;
    color: #dadada;
    font-size: 1.6rem;
}
.menu ul.menuList {
    padding: 10px 0;
    font-size: 1.6rem;
    margin-bottom: 20px;
    margin-top: 0px;
    list-style-type: none;
}
.item {
    margin: 0;
    list-style: none;
    padding: 10px 0;
    font-size: 1.6rem;
    line-height: 1.65;
}
.itemLink {
    color: #dadada;
    font-weight: 500;
    font-size: large;
    border-bottom: 0 transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: Arial;
}
.itemLink:hover {
    color: #fff;
    outline: 0;
}
.itemLink:focus {
    outline: 0;
}
.separator {
    margin: 20px auto;
    display: block;
    border: 1px solid #dededc;
    height: 0;
    width: 40%;
}
.subList {
    margin-left: 15px;
    position: relative;
    padding: 10px 0;
    margin-bottom: 0;
    font-size: 1.6rem;
    margin-top: 0;
}
.subItem {
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0.1;
    position: relative;
    font-size: small;
    margin: 0;
    list-style: none;
    transition: opacity ease 750ms, height linear 750ms;
    line-height: 1.65;
}
.subItemExpanded {
    opacity: 1;
    height: 4.5rem;
    transition: opacity ease 750ms, height linear 750ms;
}
.subItemLink {
    font-size: medium;
    position: relative;
    color: #dadada;
    font-weight: 500;
    border-bottom: 0 transparent;
    text-decoration: none;
    background-color: transparent;
    font-style: normal;
    top: 10px;
    font-family: Arial;
}
.subItemLink:hover {
    border-bottom: none;
    color: #fff;
}